@model UserInfo;

@{
    ViewBag.Title = "Toplantı Katılım Formu";
}
<h1>Toplantı Katılım Formu</h1>
<form action="/Meeting/Apply" method="post" >
    <div asp-validation-summary="All" ></div>
    <div class="mb-3">
        <label asp-for="Name">Name</label>
        <input type="text" asp-for="Name" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="Phone">Phone</label>
        <input type="text" asp-for="Phone" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="Email">Email</label>
        <input type="email" asp-for="Email" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="WillAttend" class="form-label">Katılım Durumu</label>
        <select asp-for="WillAttend" class="form-select" >
            <option value="true">Seçiniz</option>
            <option value="true">Evet,Geliyorum</option>
            <option value="false">Hayır,Gelmiyorum</option>
        </select>
    </div>
   

    <button class="btn btn-primary" type="submit">Kayıt</button>
</form>