@model MeetingInfo;
@{
    Layout = "_Layout2";
    ViewBag.Title1 = "Toplantı katılımı";
}
<main class="taxt-center">
    <h1 class="h4">@ViewBag.SayHello</h1>
    <p>Toplantı katılım durumunuzu bildirin.</p>
    <div class="card my-2">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                @Model.Location
            </li>
            <li class="list-group-item">
                @Model.Date.ToString("dd/MM/yyyy HH:mm:ss") tarihinde gerçekleşecek
            </li>
            <li class="list-group-item">
                @Model.NumberOfPeople
            </li>
        </ul>
    </div>
    <a class="btn btn-small btn-outline-danger" asp-controller="Meeting" asp-action="Apply">Başvuru Yap</a>
</main>